[Unit]
Description=post_links
Requires=ngrok.service
After=ngrok.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/miniconda3/bin/python /home/sfserver/config/post_links.py
Type=oneshot

[Install]
WantedBy=multi-user.target
